<div class="main_left sign_container span8">
   <header class="clearfix create_btn">
      <h2 class="pull-left">修改密码</h2>
   </header>
   <div class="sign_inner">
      <%if(locals.error){%>
      <div class="alert alert-error">
         <%= error %>
      </div>
      <%}%>
      <% if(locals.action && locals.action == 'change_password'){　%>
      <form class="form-horizontal" action="/change_password/<%= user._id%>" method="post">
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <div class="control-group">
             <label for="user_name" class="control-label">用户名：</label>
             <div class="controls">
               <input class="input-xlarge disabled" type="text" id="user_name" name="user_name" value="<%= user.user_name%>" disabled />
             </div>
          </div>
          <div class="control-group">
             <label for="user_name" class="control-label">邮箱：</label>
             <div class="controls">
               <input class="input-xlarge disabled" type="text" id="user_name" name="email" value="<%= user.email%>" disabled/>
             </div>
          </div>
          <div class="control-group">
            <label for="old_password" class="control-label">旧密码：</label>
             <div class="controls">
               <input class="input-xlarge" type="password" id="old_password" name="old_password" placeholder="旧密码..." value="" />
             </div>
          </div>
          <div class="control-group">
            <label for="new_password" class="control-label">新密码：</label>
             <div class="controls">
               <input class="input-xlarge" type="password" id="new_password" name="new_password" placeholder="新密码..." value="" />
             </div>
          </div>
          <div class="control-group">
            <label for="re_password" class="control-label">重复新密码：</label>
             <div class="controls">
               <input class="input-xlarge" type="password" id="re_password" name="re_password" placeholder="重复密码..." value="" />
             </div>
          </div>
          <div class="form-actions">
             <input class="btn" type="submit" value="保存" />
          </div>
      </form>
      <% } %>
   </div>
</div>
<%- partial('side_bar') %>