<header>
   <nav class="tag_list">
      <ul class="nav nav-pills">
			<% if(locals.current_user){ %>
				<% if(locals.current_user.is_admin){ %>
					<li>
						<a href="/tags" title="编辑标签"><i class="icon-pencil"></i></a>
					</li>
				<% } %>
			<% } %>
		   	<% if(locals.tags){ %>
   			<% locals.tags.forEach(function(tag){ %>
   				<li>
   					<a href="/tag/<%= tag._id%>"><%= tag.name%></a>
   				</li>
   			<% }) %>
			<% }else{ %>
			   暂无标签
			<% } %>
		</ul>
   </nav>
</header>
<div class="main_left span8">
	<article id="user_container" class="clearfix">
		<header class="create_btn">
        	<h2><i class="icon-user"></i><%=user.user_name %>的信息</h2>
      	</header>
      	<section class="clearfix">
      		<div class="pull-left user_icon">
				<a href="/user_view/<%= user.user_name %>" class="btn btn-info">
					<i class="icon-user icon-white"></i>
					<span><%= user.user_name%></span>
				</a>
			</div>
			<ul class="pull-left unstyled">
				<li>
					发表的文章：<b><%= user.article_count %></b>
				</li>
				<li>
					&nbsp;|&nbsp;
				</li>
				<li>
					发表的回复：<b><%= user.reply_count %></b>
				</li>
			</ul>
      	</section>
      	<footer class="pull-right">
      		<span class="time_box">创建于：
               <time pubdate datetime="<%=user.create_at %>">
                  <%=user.create_at %>
               </time>
             </span>
      	</footer>
	</article>
	<article id="new_articles" class="user_articles">
		<header class="create_btn">
        	<h2><i class="icon-book"></i><%=user.user_name %>最近发表的文章</h2>
      	</header>
      	<% if(new_articles && new_articles.length>0){ %>
      		<% new_articles.forEach(function(new_article){%>
		      	<article>
					<header class="clearfix">
						<h3>
							<i class="icon-book"></i><span><a href="/article_view/<%= new_article._id%>"><%= new_article.title %></a></span>
							<% if(locals.current_user){ %>
								<% if(locals.current_user.is_admin || locals.current_user.user_name == new_article.author.user_name){ %>
								<div class="pull-right article_opera">
									<a href="/article_edit/<%= new_article._id%>" title="修改"><i class="icon-pencil"></i></a>
									<a href="/article_del/<%= new_article._id%>" title="删除"><i class="icon-trash"></i></a>
								</div>
								<% } %>
							<% } %>
						</h3>
						<div class="author_box">
							<span> 发表者： <a href="/user_view/<%=new_article.author.user_name %>" target="_blank"><%=new_article.author.user_name %></a> </span>
							<span class="time_box pull-left">发表于：
								<time pubdate datetime="<%=new_article.create_at %>">
									<%=new_article.create_at %>
								</time>
							</span>
						</div>
					</header>
					<section>
						<%- new_article.content%>
					</section>
					<footer>
						<div class="tag_include">
							<i class="icon-tags"></i>
							<% if(new_article.tags && new_article.tags.length>0){ %>
								<% new_article.tags.forEach(function(tag){ %>
									<a href="/tag/<%= tag._id%>" target="_blank"><%= tag.name%></a>
								<% }) %>
							<% }else{ %>
								<a>暂无标签</a>
							<% } %>
						</div>
						<span><i class="icon-eye-open"></i>点击数：<b><%= new_article.view_count %></b></span>
						<span><i class="icon-comment"></i>评论：<b><%= new_article.reply_count%></b></span>
						<% if(new_article.reply){ %>
						<span class="last_reply_time pull-right"> 最后回复于： <a href="" target="_blank"><%= new_article.reply.author.user_name%></a>
							<time pubdate datetime="<%= new_article.last_reply_time%>">
								<%= new_article.reply.reply_time%>
							</time>
						</span>
						<%}%>
					</footer>
				</article>
      		<% }) %>
      	<% }else{ %>
      	<article>
      		暂无信息
      	</article>
      	<% } %>
	</article>
	<article id="new_replies" class="user_articles">
		<header class="create_btn">
        	<h2><i class="icon-comment"></i><%=user.user_name %>最近回复的文章</h2>
      	</header>
      	<% if(new_replies && new_replies.length > 0){ %>
      		<% new_replies.forEach(function(replies_article){ %>
      			<article>
					<header class="clearfix">
						<h3>
							<i class="icon-book"></i>
							<span><a href="/article_view/<%= replies_article._id%>"><%= replies_article.title %></a></span>
							<% if(locals.current_user){ %>
								<% if(locals.current_user.is_admin || locals.current_user.user_name == replies_article.author.user_name){ %>
								<div class="pull-right article_opera">
									<a href="/article_edit/<%= replies_article._id%>" title="修改"><i class="icon-pencil"></i></a>
									<a href="/article_del/<%= replies_article._id%>" title="删除"><i class="icon-trash"></i></a>
								</div>
								<% } %>
							<% } %>
						</h3>
						<div class="author_box">
							<span> 发表者： <a href="/user_view/<%=replies_article.author.user_name %>" target="_blank"><%=replies_article.author.user_name %></a> </span>
							<span class="time_box pull-left">发表于：
								<time pubdate datetime="<%=replies_article.create_at %>">
									<%=replies_article.create_at %>
								</time>
							</span>
						</div>
					</header>
					<section>
						<%- replies_article.content%>
					</section>
					<footer>
						<div class="tag_include">
							<i class="icon-tags"></i>
							<% if(replies_article.tags && replies_article.tags.length>0){ %>
								<% replies_article.tags.forEach(function(tag){ %>
									<a href="/tag/<%= tag._id%>" target="_blank"><%= tag.name%></a>
								<% }) %>
							<% }else{ %>
								<a>暂无标签</a>
							<% } %>
						</div>
						<span><i class="icon-eye-open"></i>点击数：<b><%= replies_article.view_count %></b></span>
						<span><i class="icon-comment"></i>评论：<b><%= replies_article.reply_count%></b></span>
						<% if(replies_article.reply){ %>	
						<span class="last_reply_time pull-right"> 最后回复于： <a href="" target="_blank"><%= replies_article.reply.author.user_name%></a>
							<time pubdate datetime="<%= replies_article.last_reply_time%>">
								<%= replies_article.reply.reply_time%>
							</time>
						</span>
						<%}%>
					</footer>
				</article>
      		<% }) %>
      	<% }else{ %>
      	<article>
      		暂无信息
      	</article>
      	<% } %>
	</article>
</div>
<%- partial('side_bar') %>