<section class="reply_inner_box">
	<header class="clearfix">
      <span class="reply_author pull-left"><a href="/user_view/<%= reply.author.user_name%>"><%= reply.author.user_name%></a></span>
      <div class="pull-right">
         <a href="javascript:void(0);" class="reply_at_btn">@回复</a>
         <% if(locals.current_user && locals.current_user.is_admin){ %>
         <a href="/reply_del/<%= reply._id%>">删除</a>
         <% } %>
      </div>
	</header>
	<p class="reply_content">
		<%- reply.reply_content%>
	</p>
	<footer class="time_box clearfix">
		<span class="pull-right">
         回复于：<time pubdate datetime="<%= reply.reply_time%>"><%= reply.reply_time%></time>
		</span>
	</footer>
	<article class="reply2_box">
		<% if(reply.replies.length > 0){ %>
			<%-partial('reply/reply2',{collection: reply.replies, as: 'reply'}) %>
		<% } %>
		<div class="reply_area clearfix" id="<%= reply._id%>" style="display:none;">
         <h2>@回复</h2>
			<textarea class="reply_textarea" name="reply_content" id="reply_<%= reply._id%>" style="width: 500px; height: 150px;"></textarea>
			<input type="submit" class="reply2_submit_btn btn pull-right" value="发表回复">
		</div>
	</article>
</section>